{% extends 'layouts/default.html.twig' %}

{% block title %}404 - Not found{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-top: 10px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Error</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<h1>404 - Not Found</h1>
{% endblock %}
