<?php

return [
    'auth' => [
        'users' => [
            'admin' => 'password',
            'alex'  => '12345678',
        ],
    ],
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' => 'sqlite:db/db.sqlite',
                ],
            ],
        ],
    ],
];
